.logo {
    width: 400px;
  }

p.solid {
    border-style: solid;
  }

a:link { 
  text-decoration: none;
  color: black; 
}

a:visited { 
  text-decoration: none; 
  color: black;
}

a:hover { 
  text-decoration: none;
  color: black; 
}

a:active { 
  text-decoration: none;
  color: black; 
}

.products {
    text-align: center;
    margin: 15px;
    color: #000000;
    font-size: 24px;
    font-weight: 750;
  }

.productslight {
    text-align: center;
    margin: 15px;
    color: #000000;
    font-size: 24px;
    font-weight: 75;
  } 

.cart {
    text-align: center;
    margin: 15px;
    color: #000000;
    font-size: 24px;
    font-weight: 75;
  }

.cartbold {
    text-align: center;
    margin: 15px;
    color: #000000;
    font-size: 24px;
    font-weight: 750;
  }  

.subtext {
    text-align: center;
    margin: 80px 0px 50px 0px;
    color: #000000;
    font-size: 36px;
    font-weight: 100;
  }

.detailtextcontainer {
  display: block;
  width: 361.675px;
  height: fit-content;
  margin: 25px auto 50px auto;
}

.detailtextcontainer2 {
  display: block;
  width: 361.675px;
  height: fit-content;
  margin: 35px auto 10px auto;
}

.detailtext {
    display:block;
    text-align: left;
    color: #000000;
    font-size: 32px;
    font-weight: 100;
  }

.cinnamon {
    display:block;
    margin: 5px auto 0px auto;
    width: 325px;
    border: 5px solid #000000;
  }

  .cinnamondetail {
    display:block;
    margin: 5px auto 0px auto;
    width: 600px;
    border: 5px solid #000000;
  }

.cinnamonprice {
    text-align: left;
    margin: -10px 0px 5px 10px;
    color: #000000;
    font-size: 28px;
    font-weight: 100;
  }

.cinnamonpricebold {
    text-align: left;
    margin: -10px 0px 5px 10px;
    color: #000000;
    font-size: 28px;
    font-weight: 100;
  }

.cinnamondescription {
    text-align: left;
    text-decoration: underline;
    margin: 10px;
    color: #000000;
    font-size: 28px;
    font-weight: 100;
  }

.btn-roll {
    display: block;
    width: 350px;
    height: fit-content;
    border: none;
    background: none;
    margin: 25px auto 50px auto;
    padding: 0px 0px 0px 0px;

    cursor: pointer;
  }

.btn-roll:hover {
    background-color: #f3e62c;
  }

.menus {
    display: block;
    width: 361.375px;
    height: fit-content;
    border: 3px solid #000000;
    margin: 5px auto 5px auto;
    font-size: 32px;
    font-weight: 100;

}