.logo {
    width: 400px;
  }

  p.solid {
    border-style: solid;
  }

  .title {
    text-align: center;
    margin: 15px;
    color: #000000;
    font-size: 24px;
    font-weight: 750;
  }

  .subtext {
    text-align: center;
    margin: 60px;
    color: #000000;
    font-size: 36px;
    font-weight: 100;
  }

  .figure {
    display:block;
    margin: 125px auto 0px auto;
    width: 325px;
    border: 5px solid #000000;
  }

  .figcaption {
    background-color: white;
    color: black;
    font-style: underline;
    padding: 2px;
    text-align: center;
  }


  .cinnamon {
    display:block;
    margin: 125px auto 0px auto;
    width: 325px;
    border: 5px solid #000000;
  }

  .cinnamondescription {
    text-align: center;
    margin: 30px;
    color: #000000;
    font-size: 24px;
    font-weight: 100;
  }