.logo {
    width: 400px;
  }

  p.solid {
    border-style: solid;
  }

  .title {
    text-align: center;
    margin: 15px;
    color: #000000;
    font-size: 24px;
    font-weight: 750;
  }

  .subtext {
    text-align: center;
    margin: 60px;
    color: #000000;
    font-size: 36px;
    font-weight: 100;
  }

  .cinnamon {
    display:block;
    margin: 0px auto 0px auto;
    width: 350px;
  }

  .cinnamondescription {
    text-align: center;
    margin: 15px;
    color: #000000;
    font-size: 24px;
    font-weight: 100;
  }